# United States - Crime Rates - 1960 - 2014

### Introduction:

This time you will create a data 

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [24]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/US_Crime_Rates/US_Crime_Rates_1960_2014.csv).

### Step 3. Assign it to a variable called crime.

In [30]:
url = "https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/US_Crime_Rates/US_Crime_Rates_1960_2014.csv"
df = pd.read_csv(url)
df.head(3)

,Year,Population,Total,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
0,1960,179323175,3384200,288460,3095700,9110,17190,107840,154320,912100,1855400,328200
1,1961,182992000,3488000,289390,3198600,8740,17220,106670,156760,949600,1913000,336000
2,1962,185771000,3752200,301510,3450700,8530,17550,110860,164570,994300,2089600,366800

### Step 4. What is the type of the columns?

In [31]:
{colName:df[colName].dtype for colName in df.columns}

{'Year': dtype('int64'),
 'Population': dtype('int64'),
 'Total': dtype('int64'),
 'Violent': dtype('int64'),
 'Property': dtype('int64'),
 'Murder': dtype('int64'),
 'Forcible_Rape': dtype('int64'),
 'Robbery': dtype('int64'),
 'Aggravated_assault': dtype('int64'),
 'Burglary': dtype('int64'),
 'Larceny_Theft': dtype('int64'),
 'Vehicle_Theft': dtype('int64')}

##### Have you noticed that the type of Year is int64. But pandas has a different type to work with Time Series. Let's see it now.

### Step 5. Convert the type of the column Year to datetime64

In [32]:
# df["Year"].astype('int64')
# df["Year"] = df["Year"].to_datetime()
df["Year"] = pd.to_datetime(df["Year"], unit='YYYY')
df.head(3)

ValueError: cannot cast unit YYYY

Exception ignored in: 'pandas._libs.tslibs.conversion.precision_from_unit'
Traceback (most recent call last):
  File "/opt/anaconda3/lib/python3.8/site-packages/pandas/core/tools/datetimes.py", line 345, in _convert_listlike_datetimes
    result, tz_parsed = tslib.array_with_unit_to_datetime(
ValueError: cannot cast unit YYYY

,Year,Population,Total,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
0,1978-09-26 13:39:23.163913600,179323175,3384200,288460,3095700,9110,17190,107840,154320,912100,1855400,328200
1,1978-09-28 04:43:28.655323760,182992000,3488000,289390,3198600,8740,17220,106670,156760,949600,1913000,336000
2,1978-09-29 19:47:34.146733920,185771000,3752200,301510,3450700,8530,17550,110860,164570,994300,2089600,366800

### Step 6. Set the Year column as the index of the dataframe

### Step 7. Delete the Total column

### Step 8. Group the year by decades and sum the values

#### Pay attention to the Population column number, summing this column is a mistake

### Step 9. What is the most dangerous decade to live in the US?