# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [2]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [122]:
chipo = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv", delimiter="\t")

### Step 4. See the first 10 entries

In [12]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [16]:
# Solution 1
chipo.shape[0]

4622

In [17]:
# Solution 2

len(chipo.index)

4622

In [157]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   float64
dtypes: float64(1), int64(2), object(2)
memory usage: 180.7+ KB

### Step 6. What is the number of columns in the dataset?

In [158]:
chipo.shape[1]

5

In [19]:
len(list(chipo.columns))

5

### Step 7. Print the name of all the columns.

In [25]:
print(list(chipo.columns))

['order_id', 'quantity', 'item_name', 'choice_description', 'item_price']

In [159]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [27]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [169]:
chipo.groupby("item_name").sum().nlargest(n=1, columns = "quantity")

              order_id  quantity  item_price
item_name
Chicken Bowl    713926       761     7342.73

In [174]:
chipo.groupby("item_name").sum().sort_values(by=["quantity"], ascending=False).head(1)

              order_id  quantity  item_price
item_name
Chicken Bowl    713926       761     7342.73

In [28]:
chipo.mode()

   order_id  quantity     item_name choice_description item_price
0       926         1  Chicken Bowl        [Diet Coke]     $8.75

In [45]:
(chipo.value_counts() == 3)[4]

quantity  item_name         choice_description                                                                                                  item_price
1         Steak Burrito     [Tomatillo Red Chili Salsa, [Fajita Vegetables, Black Beans, Pinto Beans, Cheese, Sour Cream, Guacamole, Lettuce]]  $11.75        False
          Steak Soft Tacos  [Tomatillo Green Chili Salsa, [Pinto Beans, Cheese, Sour Cream, Lettuce]]                                           $9.25         False
dtype: bool

In [64]:
most_ordered = chipo["item_name"].value_counts()[chipo["item_name"].value_counts() == 726].index.tolist()[0]

### Step 10. For the most-ordered item, how many items were ordered?

In [179]:
chipo.groupby("item_name").sum().sort_values(by=["quantity"], ascending=False).head(1)

              order_id  quantity  item_price
item_name
Chicken Bowl    713926       761     7342.73

In [66]:
(chipo["item_name"] == most_ordered).sum()

726

### Step 11. What was the most ordered item in the choice_description column?

In [197]:
chipo.groupby(["choice_description"]).sum().sort_values("quantity", ascending=False).head(1)

                    order_id  quantity  item_price
choice_description
[Diet Coke]           123455       159      326.71

In [184]:
# chipo.groupby("choice_description").sum()
chipo["choice_description"].value_counts().head(1)

[Diet Coke]    134
Name: choice_description, dtype: int64

In [180]:
chipo["choice_description"].dropna().value_counts()[chipo["choice_description"].dropna().value_counts() == chipo["choice_description"].dropna().value_counts().max()].index.to_list()

['[Diet Coke]']

### Step 12. How many items were orderd in total?

In [199]:
# df.dropna(how="all").shape[0]
df["quantity"].dropna().sum()

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [118]:
df["item_price"].dtypes

dtype('float64')

#### Step 13.b. Create a lambda function and change the type of item price

In [135]:
# chipo["item_price"].apply(lambda x: float(x.rstrip()[1:]) if x != np.nan else np.nan)
chipo["item_price"] = chipo["item_price"].apply(lambda x: float(x.rstrip()[1:]))

#### Step 13.c. Check the item price type

In [136]:
chipo["item_price"].dtypes

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [139]:
list(chipo.columns)

['order_id', 'quantity', 'item_name', 'choice_description', 'item_price']

In [149]:
total_rev = (chipo["quantity"]*chipo["item_price"]).sum()
total_rev

39237.02

### Step 15. How many orders were made in the period?

In [212]:
# chipo["order_id"].dropna().shape[0]
# total_order
chipo["order_id"].value_counts().count()

1834

### Step 16. What is the average revenue amount per order?

In [228]:
# Solution 1
# total_rev/total_order
chipo["revenue_per_order"] = chipo["quantity"]*chipo["item_price"]
chipo.groupby("order_id").sum()["revenue_per_order"].mean()
# chipo["revenue_per_order"].mean()

21.394231188658654

In [232]:
# Solution 2
chipo["revenue_per_order"] = chipo["quantity"]*chipo["item_price"]
chipo.groupby("order_id").sum()["revenue_per_order"].mean()

21.394231188658654

### Step 17. How many different items are sold?

In [156]:
df["item_name"].nunique()

50